/*header*/
.body {
    -webkit-transition: margin-left .5s ease;
    transition: margin-left .5s ease;
    width: 100%;
}
.header-dd-menu{

    height: 100%;
    width: 350px;
    left: -350px;
    top: 0;
    bottom: 0;
    z-index: 999;
    background: #40d0b7;
    color: #fff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    position: fixed;

}
.header-dd-menu.lt-show {
    position: fixed;
    left: 0 !important;
    -webkit-box-shadow: 1px 0 30px 10px rgba(0,0,0,0.3);
    box-shadow: 1px 0 30px 10px rgba(0,0,0,0.3);
}
.lt-header-m {
    padding: 21px 0 14px;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 15;
    background: #fff;
    -webkit-transition: margin-left .5s ease;
    transition: margin-left .5s ease;
    }
.lt-toggle {
    float: left;
    width: 22px;
    height: 18px;
    border: none;
    background: none;
    padding: 7px 0;
    cursor: pointer;
    position: relative;
    display: none;
}
.lt-cart-m button:hover {
    color: #40d0b7;
}
.lt-cart-m button {
    display: block;
    background: none;
    padding: 0;
    border: none;
    font-size: 25px;
    color: #9b9b9b;
}
.lt-hb-m .lt-lang {
    margin-right: 15px;
    color: #40d0b7;
}
.lt-toggle:after, .lt-toggle:before, .lt-toggle span {
    height: 4px;
    display: block;
    width: 100%;
    background: #9b9b9b;
    border-radius: 1px;
}
.lt-toggle:hover:after, .lt-toggle:hover:before, .lt-toggle:hover span {
    background: #40d0b7;
}
.lt-toggle:after, .lt-toggle:before {
    content: '';
    position: absolute;
    left: 0;
}
.lt-toggle:before {
    top: 0;
}
.lt-toggle:after {
    bottom: 0;
}
.lt-toggle i {
    display: none;
}
.lt-l-nav {
    background: #75e6c9;
    border-bottom: 1px solid #292f49;
    height: 51px;
}
.lt-ln-close {
    position: absolute;
    left: 20px;
    margin-top: -2px;
    background: none;
    padding: 0;
    border: none;
    font-size: 20px;
    color: #292f49;
    top: 11px;
}
.folder
{
    position: relative;
}
.folder ul{
    display: none;
}
.lt-tm-m .folder > span.control{
    display: block;
    width: 30px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1100;
}
.lt-tm-m .folder.active > span.control:before{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.lt-tm-m .folder > span.control:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border: 0 solid transparent;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    right: 50%;
    top: 26px;
    margin-top: -5px;
    margin-right: -5px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.lt-tm-m .folder:hover > span.control:before{
    border-right: 3px solid #292f49;
    border-bottom: 3px solid #292f49;
}
.lt-mleft .lt-toggle{
    display: none;
}
.lt-topmenu ul, .lt-tm-m ul {
    position: relative;
}
.lt-topmenu a, .lt-tm-m a {
    text-transform: uppercase;
    display: block;
    font-size: 16px;
    line-height: 19px;
    padding: 16px 0 15px;
    position: relative;

}
.lt-topmenu > ul > li > a, .lt-tm-m > ul > li > a {
    color: #fff;
    background: #40d0b7;
    padding: 16px 48px 15px 35px;
    text-decoration: none;
}
.lt-topmenu > ul > li:hover > a, .lt-tm-m > ul > li:hover > a{
    background: #fff;
    color: #292f49;
    opacity: 1;
}
.lt-topmenu > ul > li > a:before, .lt-tm-m > ul > li > a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #bafcf4;
    width: 0;
    -webkit-transition: width .2s ease;
    transition: width .2s ease;
}
.lt-topmenu a i:first-child, .lt-tm-m a i:first-child {
    font-size: 19px;
    width: 25px;
    text-align: center;
    margin-right: 18px;
}
.lt-topmenu span, .lt-tm-m span {
    display: inline-block;
    line-height: 19px;
}
.lt-topmenu a i:last-child, .lt-tm-m a .fa-chevron-right {
    font-size: 13px;
    position: absolute;
    right: 20px;
    top: 20px;
}
.lt-tm-m .fa-chevron-right {
    transform: rotate(90deg);
}
.lt-topmenu > ul > li > ul, .lt-topmenu > ul > li > ul:before, .lt-tm-m > ul > li > ul {
    background: #fff;
}
.lt-topmenu ul ul a, .lt-tm-m ul ul a {
    color: #889797;
    padding-left: 52px;
    padding-right: 48px;
}
.lt-tm-m ul ul li:hover a i, .lt-tm-m ul ul li > a.active i {
    color: #8fe8dd;
}
.lt-topmenu ul ul ul, .lt-topmenu ul ul ul:before, .lt-tm-m ul ul ul {
    background: #abe8e2;
}
.lt-topmenu ul ul a, .lt-tm-m ul ul a {
    color: #889797;
    padding-left: 52px;
    padding-right: 48px;
    border-bottom: 1px solid rgba(41, 47, 37, 0.2);
}
.lt-topmenu ul ul li:hover > a, .lt-topmenu ul ul li.active > a, .lt-tm-m ul ul li:hover > a, .lt-tm-m ul ul li > a.active {
    background: #fff;
    color: #292f49;
    font-weight: 700;
}
.lt-call a:hover span {
    background: #40d0b7;
}
.lt-od div {
    display: inline-block;
    background: #1b1e1e;
    color: #fff;
    font-size: 11px;
    line-height: 1;
    border-radius: 12px;
    padding: 5px 15px;
    font-weight: 300;
}
.lt-l-nav span {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.lt-topmenu a .fa-services:before, .lt-tm-m a .fa-services:before {
    content: '';
    display: inline-block;
    width: 21px;
    height: 18px;
    background: url(../images/lt-services-w.png) center no-repeat;
    background-size: contain;
}
.lt-topmenu > ul > li > a:after, .lt-tm-m > ul > li > a:after {
    left: 0;
    right: 0;
}
.lt-topmenu a:after, .lt-tm-m a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #232727;
    height: 1px;
    opacity: .2;
}
.lt-overflow {
    overflow: hidden;
}
.lt-mleft {
    margin-left: 350px !important;
}
.main-menu .folder > span.control{
     display: block;
     width: 10px;
     height: 10px;
     border: 0px solid transparent;
     border-right: 3px solid #fff;
     border-bottom: 3px solid #fff;
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     transform: rotate(45deg);
     position: absolute;
     right: 12px;
     top: 26px;
     z-index: 1100;
     opacity: 0.6;
     -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
     -ms-transition: all 0.3s linear;
     -o-transition: all 0.3s linear;
     transition: all 0.3s linear;
 }
.header-dd-menu .folder > span.control:before{
    top: 22px;
}
.main-menu .folder ul{
    display: block;
    opacity: 0;
    margin-top: -100%;
    z-index: -1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    position: absolute;
    min-width: 100%;
    background: #9fd868;
}
.main-menu ul > li:hover{
    background: #40d0b7;
}
.main-menu .folder:hover ul{
    margin-top: 0;
    opacity: 1;
}
.main-menu .folder ul li a{
    width: 100%;
    border-top: 1px solid #fff;
    background: #9fd868;
}
.main-menu .folder ul li:hover a{
    color: #292f49;
    background: #fff;
}
